.DS_Store

# XCode
*.a
**/*.app/
**/build/
project.xcworkspace/
xcuserdata/

# openframeworks release itself. its quite big
of_v0.8.4_osx_release/
of_v0.8.4_vs_release/
of_v0.8.4_win_cb_release/

# images, not for public release yet
data/*.jpg

# codeblocks
codeblocks-*.exe
codeblocks_additions/

# windows codeblocks artifacts
**/bin/*
obj/
